@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300&display=swap");
.bookingTab {
  display: block;
  max-width: 940px;
  margin: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
  z-index: 18;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #8a7676;
          box-shadow: 0 0 10px #8a7676;
}

@media only screen and (max-width: 420px -1px) {
  .bookingTab {
    padding: 10px;
    -webkit-transform: translate(-50%, 90%);
            transform: translate(-50%, 90%);
    width: 90%;
  }
}

@media only screen and (max-width: 420px) {
  .bookingTab {
    padding: 10px;
    -webkit-transform: translate(-50%, 90%);
            transform: translate(-50%, 90%);
    width: 90%;
  }
}

@media only screen and (max-width: 576px -1px) {
  .bookingTab {
    padding: 10px;
    -webkit-transform: translate(-50%, 90%);
            transform: translate(-50%, 90%);
    width: 90%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .bookingTab {
    padding: 10px;
    -webkit-transform: translate(-50%, 60%);
            transform: translate(-50%, 60%);
    width: 90%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .bookingTab {
    padding: 10px;
    -webkit-transform: translate(-50%, 90%);
            transform: translate(-50%, 90%);
    width: 90%;
  }
}

@media only screen and (max-width: 420px) {
  .bookingTab .row .select__button {
    width: 50%;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
  }
}

@media only screen and (min-width: 421px) and (max-width: 576px) {
  .bookingTab .row .select__button {
    width: 50%;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .bookingTab .row .select__button {
    width: 50% !important;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
  }
}

.bookingTab .row .select__button button {
  background-color: #f60;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 5px;
  padding: 10px 25px;
  line-height: 90%;
  color: white;
}

@media only screen and (max-width: 420px) {
  .bookingTab .row .select__item {
    width: 50%;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 576px) {
  .bookingTab .row .select__item {
    width: 50%;
    margin-bottom: 5px;
  }
}

.bookingTab .row .select__item .select__form {
  position: relative;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: none;
  overflow: hidden;
  border-radius: 0.25em;
  border-right: 1px solid rgba(20, 23, 28, 0.05);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.bookingTab .row .select__item .select__form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: none;
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #333;
  cursor: pointer;
}
/*# sourceMappingURL=BookingTab.css.map */